
body {
        padding-top: 50px;
    }

.blocksatz{
        text-align: justify;
        text-justify: auto;  
        /*word-break: break-all;*/
}

.btn-outline-primary{
  border-color: #2058afff;
  color: #2058afff;
}
.btn-outline-primary:hover{
  color:#fff;
  background-color:#2058afff;
  border-color:#2058afff
}
