<div class="d-none d-md-block">
    <header class="masthead d-flex align-items-end" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, .8) 80%), url('{{ .masthead_wide | relURL }}');
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;">
        <div class="container d-flex h-100 align-items-end justify-content-center">
            <div class="d-flex justify-content-center align-items-end mb-5">
                <div class="text-center align-items-end">
                    <h1 class="mx-auto text-uppercase">Musikverein 1923 Sailauf</h1>
                    <h2 class="mx-auto mt-2">Blasmusik aus dem Vorspessart</h2>
                    <h2 class="mb-5"></h2>
                </div>
            </div>
        </div>
    </header>
    </div>
    <div class="d-md-none">
    <header class="masthead d-flex align-items-end" style="background: linear-gradient(to bottom,  rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.8) 80%), url('{{ .masthead_small | relURL }}');
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;">
        <div class="container d-flex h-100 align-items-end justify-content-center">
            <div class="d-flex justify-content-center align-items-end mb-5">
                <div class="text-center align-items-end">
                    <h1 class="mx-auto text-uppercase">Musikverein 1923 Sailauf</h1>
                    <h2 class="mx-auto mt-2">Blasmusik aus dem Vorspessart</h2>
                    <h2 class="mb-5"></h2>
                </div>
            </div>
        </div>
    </header>
    </div>
    