<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
            {{ if site.Params.logo }}
            <div class="text-secondary">
                <img src="{{ site.Params.logo | relURL }}" width="35" height="42" alt="{{ .Site.Title }}">
                <span style="vertical-align:middle">{{ site.Title }}</span>
                {{ else }}
                {{ site.Title }}
                {{ end }}
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main.ByWeight }}
                {{ if lt .Weight 11 }}
                <li class="nav-item ">
                    <a class='nav-link {{ if in $currentPage .URL  }} active {{ end }}' href="{{ .URL }}">
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
                {{ end }}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Sonstiges
                    </a>

                    <ul class="dropdown-menu">
                        {{ range .Site.Menus.main.ByWeight }}
                        {{ if gt .Weight 10 }}
                        <li>
                            <a class="dropdown-item" href="{{ .URL }}">
                                {{ .Name }}
                            </a>
                        </li>
                        {{end }}
                        {{ end }}
                    </ul>
                </li>
                <a class="navbar-brand" href="https://www.instagram.com/mv1923sailauf">
                    <img src="/images/insta.avif" height="30" class="d-inline-block align-top" alt="Instagram" loading="lazy">
                </a>
                <a class="navbar-brand" href="https://www.facebook.com/mv1923sailauf">
                    <img src="/images/fb.avif" height="30" class="d-inline-block align-top" alt="Facebook" loading="lazy">
                </a>

            </ul>
        </div>
    </div>
</nav>