{{ define "content" }}
{{ $data := index site.Data site.Language.Lang }}
{{ with $data.data.vorstand }}
<div class="container pt-1 pb-3">
    <div class="row justify-content-center">
        <div class="col-lg-6 pt-3 d-flex align-items-stretch">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Instrumentalausbildung</h5>
                    <p class="card-text text-break blocksatz">
                        Unsere Instrumentalausbildung umfasst die typischen Instrumente eines Blasorchesters.
                        Außerdem bieten wir in unserem Verein die Klavierausbildung an.
                    </p>
                    <p class="card-text text-break blocksatz">
                        Die Instrumentalausbildung findet in der Regel im Einzelunterricht wöchentilch á 30 Minuten
                        statt.
                        Der Ausbildungstag und die Uhrzeit wird immer mit dem Ausbilder selbst vereinbart. Je nach
                        persönlichem Leistungsstand
                        können auch im Laufe der Ausbildung die musikalischen Leistungszeichen erworben werden.
                    </p>
                    <p class="card-text text-break blocksatz">
                        Bei Interesse können Sie sich gerne, bei der Jugendleitung <i>{{ .jugendleitung}}</i> ({{ .jugendleitungMobil }}) melden. Im
                        persönlichen Gespräch erhalten Sie auch weitere Infos zum Ablauf der Ausbildung und dem
                        Unterrichtsangebot. 
                        So können hoffentlich alle Fragen geklärt und eine Schnupperstunde vereinbart werden.
                    </p>
                </div>
            </div>
        </div>
{{ end }}
{{ with $data.data.ausbilder }}
        <div class="col-lg-6 pt-3 align-items-stretch d-flex">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">Unsere Ausbilder</h5>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Schlagzeug</th>
                                <td>{{ .schlagzeug }}</td>
                            </tr>
                            <tr>
                                <th>Blechblasinstrumente</th>
                                <td>{{ .blechblasinstrumente }}</td>
                            </tr>
                            <tr>
                                <th>Querflöte</th>
                                <td>{{ .querflöte }}</td>
                            </tr>
                            <tr>
                                <th>Klavier</th>
                                <td>{{.klavier}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}