{{ define "content" }}
{{ $data := index site.Data site.Language.Lang }}
<div class="container pt-1 pb-3">
    <div class="row justify-content-center">
        <div class="col-lg-6 pt-3 align-items-stretch d-flex">
            <div class="card w-100">
                {{- partial "responsive_image.html" (dict "image" "images/melodickids/MK_flyer.jpeg" "title" "Melodic Kids Flyer" "class" "rounded-top rounded-bottom img-fluid bg-image" "widths" (dict "lg" 50)) -}}
            </div>
        </div>
        <div class="col-lg-6 pt-3">
            <div class="row">
                <div class="col">

                    <div class="card w-100">
                        <div class="card-body">
                            <h5 class="card-title">„Melodic Kids“</h5>
                            <p class="card-text text-break blocksatz">
                                Nach vielen Jahren haben wir unseren Melodica-Kurs wieder aufleben lassen. Im September
                                2024 starten unsere „Melodic Kids“.
                            </p>
                            <p class="card-text text-break blocksatz">
                                Der Kurs findet einmal wöchentlich für <b>60 Minuten</b> statt und erstreckt sich über
                                ein
                                ganzes Schuljahr. <b>Maximal 7 Kinder der 1. und 2. Klasse</b> treffen sich dazu bei uns
                                im
                                Musikerheim. Gemeinsam werden Notenwerte, Rhythmen und musikalische Besonderheiten
                                erarbeitet, das Melodica-Spiel erlernt und das Gelernte praktisch angewendet. Die Kinder
                                erleben spielerisch und ganzheitlich die Welt der Musik und erhalten eine erste gute
                                Grundlage für das Erlernen weiterer Instrumente.
                            </p>

                            <p class="card-text text-break blocksatz">
                                Bei Interesse wenden Sie sich bitte an die <b>Kursleiterin Vanessa Hartmann</b> (+49 176
                                9433
                                6069 oder unter vani-hartmann@web.de). </br>
                                Eine Anmeldung und Teilnahme ist nur zu Beginn des Kurses möglich.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col">

                    <!--
                    <div class="card w-100">
                        <div class="card-body">

                            <h5 class="card-title">Aktuelles</h5>

                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>

    </div>

</div>
{{ end }}