{{ define "content" }}

<div class="container pb-3">
    <div class="row justify-content-center pt-3">
        <div class="col-lg-6 pt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ .Title }}</h5>
                    <p class="card-text">
                        {{ .Content }}
                    </p>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    {{ with .PrevInSection }}
                    <a href="{{.RelPermalink}}" class="btn btn-outline-primary">&laquo;</a>
                    {{ end }}
                    {{ with .Parent }}
                    <a href="{{.RelPermalink}}" class="btn btn-outline-primary">Alle anzeigen</a>
                    {{ end }}
                    {{ with .NextInSection }}
                    <a href="{{.RelPermalink}}" class="btn btn-outline-primary" >&raquo;</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}