{{ define "content" }}
{{ $data := index site.Data site.Language.Lang }}
<div class="container pt-1 pb-3">
    <div class="row justify-content-center">
        <div class="col-lg-6 pt-3 align-items-stretch d-flex">
            <div class="card w-100">
                {{- partial "responsive_image.html" (dict "image" "images/spaetzuender/plakat.jpg" "title"
                "Spätzünder Flyer" "class" "rounded-top rounded-bottom img-fluid bg-image" "widths" (dict "lg" 50))
                -}}
            </div>
        </div>
        <div class="col-lg-6 pt-3">
            <div class="row">
                <div class="col">

                    <div class="card w-100">
                        <div class="card-body">
                            <h5 class="card-title">„Spätzünder“</h5>
                            <p class="card-text text-break blocksatz">
                                Bei dem Projekt „Spätzünder“ haben erwachsene Musikanfänger die Möglichkeit ein
                                Instrument zu erlernen/zu vertiefen. Neben dem Instrumentalunterricht bei unseren
                                Ausbildern möchten wir ein Spätzünder-Orchester ins Leben rufen.
                            </p>

                            <p class="card-text text-break blocksatz">
                                Bei Interesse wenden Sie sich bitte an <b>Vanessa Hartmann</b> (+49 176 9433 6069 oder
                                unter ausbildung@mv1923sailauf.de).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col">

                    <!--
                    <div class="card w-100">
                        <div class="card-body">

                            <h5 class="card-title">Aktuelles</h5>

                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>

    </div>

</div>
{{ end }}