{{ define "content" }}
{{ $data := index site.Data site.Language.Lang }}
<div class="container pt-1 pb-3">
    <div class="row justify-content-center">
        <div class="col-lg-6 pt-3 align-items-stretch d-flex">
            <div class="card w-100">
                {{- partial "responsive_image.html" (dict "image" "images/spaetzuender/plakat.jpg" "title"
                "Spätzünder Flyer" "class" "rounded-top rounded-bottom img-fluid bg-image" "widths" (dict "lg" 50))
                -}}
            </div>
        </div>
        <div class="col-lg-6 pt-3">
            <div class="row">
                <div class="col">

                    <div class="card w-100">
                        <div class="card-body">
                            <h5 class="card-title">„Spätzünder“</h5>
                            <p class="card-text text-break blocksatz">
                                Musik kennt keine Altersgrenzen, Musik hält jung! - deshalb haben wir das Projekt „Die
                                Spätzünder“ ins Leben gerufen. Wir möchten Erwachsenen die Möglichkeit bieten, das lang
                                ersehnte Instrument zu erlernen, das alte Instrument aus dem Schrank zu holen und/oder
                                die instrumentalen Fähigkeiten wieder aufzufrischen. Unser Angebot richtet sich an alle
                                im Alter von 18 - 99 Jahren, die ein Instrument neu erlernen möchten oder bereits ein
                                Instrument auf Anfängerniveau beherrschen.
                            </p>
                            <p class="card-text text-break blocksatz">
                                Wir vermitteln euch an unsere vereinseigenen Ausbilder, wo ihr eure Fähigkeiten am
                                Instrument sowie in Noten- und Rhythmuslehre auf- und ausbauen könnt. Ergänzend dazu
                                wollen wir ein Spätzünder-Orchester gründen, um gemeinsam zu musizieren.
                            </p>
                            <p class="card-text text-break blocksatz">
                                Bei Interesse wende Dich bitte an Vanessa Hartmann (+49 176 9433 6069 oder
                                ausbildung@mv1923sailauf.de).
                            </p>
                            <p class="card-text text-break blocksatz">
                                Bitte gib bei der Kontaktaufnahme an, ob und welches Instrument du bereits beherrschst.
                                Bei Musikanfängern möchten wir wissen, welches Instrument Du erlernen möchtest.
                                Ansonsten gib bitte auch an, ob Du Instrumentalunterricht bei unseren Dozenten
                                nehmen möchtest.
                            </p>
                            <p class="card-text text-break blocksatz">
                                Es ist nie zu spät ein Spätzünder zu sein!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col">

                    <!--
                    <div class="card w-100">
                        <div class="card-body">

                            <h5 class="card-title">Aktuelles</h5>

                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>

    </div>

</div>
{{ end }}