{{ define "content" }}
{{ $data := index site.Data site.Language.Lang }}
{{ with $data.data.abbildungen }}

<!-- Masthead -->
{{ partial "gallery.html" .}}

<!-- Index Page -->
<div class="container" id="about">
    <div class="row justify-content-center">
        <div class="col-lg pt-4 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title" id="about">Willkommen beim Musikverein 1923 Sailauf e.V.!</h5>
                    <p class="card-text text-break blocksatz">
                        Wir sind eine engagierte Gruppe von Musikern und Musikliebhabern, die sich der Förderung der
                        Musik verschrieben haben. Gegründet im Jahr 1923, besteht unser Verein heute aus einem
                        Stammorchester
                        und
                        einem Jugendorchester.
                    </p>
                    <p class="card-text text-break blocksatz">
                        Unsere Musikerinnen und Musiker kommen aus Sailauf und den umliegenden Gemeinden und
                        repräsentieren eine breite Altersspanne. Vom Anfänger bis zum Profi - bei uns ist jeder
                        willkommen, der Freude am Musizieren hat.
                    </p>
                    <p class="card-text text-break blocksatz">
                        Unsere Konzerte bieten ein abwechslungsreiches Repertoire, das von klassischer Musik bis hin zu
                        modernen Pop-Songs und traditioneller bayerischer Volksmusik reicht.
                        Bei unseren Auftritten möchten wir vor allem durch Musikalität überzeugen,
                        denn nichts
                        belohnt uns mehr als der Applaus des Publikums.
                    </p>
                    <p class="card-text text-break blocksatz">
                        Wir freuen uns jederzeit über Neuzuwachs. Schau doch
                        einfach einmal vorbei! Vielleicht dürfen wir Dich schon bald in unserer Runde begrüßen.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 pt-4 d-flex align-items-stretch">
            <div class="card">
                {{- partial "responsive_image.html" (dict "image" .melodickids "title"
                "Melodic Kids Abbildung" "class" "rounded-top img-fluid bg-image" "widths" (dict "lg" 50)) -}}
                <div class="card-body">
                    <h5 class="card-title">„Melodic Kids“</h5>
                    <p class="card-text text-break blocksatz">
                        Mit unseren <a href="melodickids" class="stretched-link text-dark">„Melodic Kids“</a>
                        haben Kinder der 1. und 2. Klasse die Möglichkeit, in einem einjährigen Kurs eine musikalische
                        Grundausbildung zu erhalten und das Instrument Melodica kennenzulernen.
                    </p>
                    <p class="card-text text-break blocksatz">
                        Die Melodica ist ein gutes Einstiegsinstrument und bereitet die Kinder auf das spätere Erlernen
                        eines anderen Instrumentes vor.
                        Noten- und Rhythmuslehre sowie das praktische Spiel werden einmal wöchentlich in einer
                        Kleingruppe erarbeitet.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 pt-4 d-flex align-items-stretch">
            <div class="card">
                {{- partial "responsive_image.html" (dict "image" .instrumentalausbildung "title"
                "Instrumentalausbildung Abbildung" "class" "rounded-top img-fluid bg-image" "widths" (dict "lg" 50)) -}}
                <div class="card-body">
                    <h5 class="card-title">Instrumentalausbildung</h5>
                    <p class="card-text text-break blocksatz">
                        Unser Verein bietet eine umfassende <a href="instrumentalausbildung"
                            class="stretched-link text-dark">Instrumentalausbildung</a>, die es jedem ermöglicht, bei
                        uns einzusteigen.
                    </p>
                    <p class="card-text text-break blocksatz">
                        Schon im Kindesalter kann man mit dem Erlernen von Blechblasinstrumenten und den damit
                        verbundenen Grundlagen in Musiklehre und Notenbildung beginnen.
                        Wir legen großen Wert darauf, dass der Einstieg in unseren Verein mit viel Freude und Spaß
                        verbunden ist, um Ihnen den bestmöglichen Start in Ihr musikalisches Abenteuer zu ermöglichen.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 pt-4 d-flex align-items-stretch">
            <div class="card">
                {{- partial "card_top.html" (dict "images" .spaetzuender "title" "Die Spätzünder" "widths" (dict
                "lg" 50 )) -}}
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="{{site.Params.spaetzuenderlogo | relURL}}" height="40" alt="Logo MVS Sailauf">
                        Die Spätzünder
                    </h5>

                    <p class="card-text text-break blocksatz">
                        Musizieren unter Gleichgesinnten - Bei dem Projekt <a href="spaetzuender"
                            class="stretched-link text-dark">„Spätzünder“</a> haben erwachsene Musikanfänger
                        die Möglichkeit ein Instrument zu erlernen/zu vertiefen. Neben dem Instrumentalunterricht bei
                        unseren Ausbildern möchten wir ein Spätzünder-Orchester ins Leben rufen. Als Musikneuling oder
                        Wiedereinsteiger ist jeder bei uns willkommen.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 pt-4 d-flex align-items-stretch">
            <div class="card">
                {{- partial "card_top.html" (dict "images" .schuelerorchester "title" "Unser Jugendorchester"
                "widths"
                (dict "lg" 50 )) -}}
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="{{ site.Params.maskottchen | relURL }}" class="" height="40"
                            alt="Engelbert, Maskottchen des MVS Sailauf" style="transform: scaleX(-1);">
                        Die Schülerkapelle

                    </h5>
                    <p class="card-text text-break blocksatz">
                        Aufbauend auf die Instrumentalausbildung können die Kinder in unserer Schülerkapelle
                        mitspielen.
                        Diese ist als erster Einstieg in das gemeinsame Musizieren in einer Gruppe gedacht. In
                        gemütlicher Runde werden die ersten Orchesterstücke erarbeitet und eingeübt. Die Proben
                        finden
                        <b>alle zwei Wochen, freitags von 18:30 Uhr bis 19:00 Uhr</b>, statt. Die Termine werden
                        rechtzeitig
                        festgelegt und bekannt gegeben. Geleitet wird die Schülerkapelle von Sabrina Weigelt und
                        Lena
                        Kunkel.
                    </p>
                </div>

            </div>
        </div>
        <div class="col-lg-6 pt-4 d-flex align-items-stretch">
            <div class="card">
                {{- partial "card_top.html" (dict "images" .jugendorchester "title" "Unser Jugendorchester" "widths"
                (dict "lg" 50 )) -}}
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="{{ site.Params.jugendlogo | relURL }}" class="" height="40" alt="Logo MVS Jugend">
                        Das Jugendorchester
                    </h5>
                    <p class="card-text text-break blocksatz">

                        Kinder und Jugendliche, die noch mehr musikalischen Input wünschen und bereits einen
                        fortgeschrittenen Ausbildungsstand erreicht haben, finden sich in unserem <a
                            href="jugendorchester" class="stretched-link text-dark">Jugendorchester</a>
                        zusammen.
                        Gemeinsam wird viel gelacht, musiziert und geprobt. Jeder, der neu in die
                        Gemeinschaft kommt, wird herzlich empfangen und wird sich sicherlich sofort wohlfühlen.
                        Geprobt wird <b>jeden Freitag</b> bei unserem Dirigenten
                        {{ with $data.data.vorstand }}
                        {{ .dirigent }}
                        {{ end }}
                        von <b>18:45 Uhr bis 19:45 Uhr</b>.
                    </p>
                </div>

            </div>
        </div>
        <div class="col-lg-6 pt-4 d-flex align-items-stretch">
            <div class="card">
                {{- partial "card_top.html" (dict "images" .stammorchester "title" "Unser Stammorchester" "widths"
                (dict
                "lg" 50 )) -}}
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="{{site.Params.logo | relURL}}" class="rounded" height="40" alt="Logo MVS Sailauf">
                        Das Stammorchester
                    </h5>

                    <p class="card-text text-break blocksatz">
                        In unserem Erwachsenenorchester, dem <a href="stammorchester"
                            class="stretched-link text-dark">Stammorchester</a>, steht das Musizieren ebenfalls an
                        erster Stelle. Wir möchten gemeinsam den Spaß an der Musik ausleben. Hier durchlaufen wir
                        mit unserem Dirigenten
                        {{ with $data.data.vorstand }}
                        {{ .dirigent }}
                        {{ end }}
                        verschiedene Stilrichtungen. Wir proben
                        <b>freitags von 20:00 Uhr bis 22:00 Uhr (Einspielen ab 19:45 Uhr)</b>.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

{{ end }}
{{ end }}