{{ define "content" }}
{{ $data := index site.Data site.Language.Lang }}
{{ with $data.data.abbildungen }}

<!-- Masthead -->
{{ partial "gallery.html" .}}

<!-- Index Page -->
<div class="container" id="about">
    <div class="row justify-content-center">
        <div class="col-lg-6 pt-3 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title" id="about">Willkommen beim Musikverein Sailauf!</h5>
                    <p class="card-text text-break blocksatz">
                        Wir sind eine engagierte Gruppe von Musikern und Musikliebhabern, die sich der Förderung der
                        Musik verschrieben haben. Gegründet im Jahr 1923, besteht unser Verein heute aus einem
                        Stammorchester
                        und
                        einem Jugendorchester.
                    </p>
                    <p class="card-text text-break blocksatz">
                        Unsere Musikerinnen und Musiker kommen aus Sailauf und den umliegenden Gemeinden und
                        repräsentieren eine breite Altersspanne. Vom Anfänger bis zum Profi - bei uns ist jeder
                        willkommen, der Freude am Musizieren hat.
                    </p>
                    <p class="card-text text-break blocksatz">
                        Unsere Konzerte bieten ein abwechslungsreiches Repertoire, das von klassischer Musik bis hin zu
                        modernen Pop-Songs und traditioneller bayerischer Volksmusik reicht.
                        Bei unseren Auftritten möchten wir vor allem durch Musikalität überzeugen,
                        denn nichts
                        belohnt uns mehr als der Applaus des Publikums.
                    </p>
                    <p class="card-text text-break blocksatz">
                        Wir freuen uns jederzeit über Neuzuwachs. Schau doch
                        einfach einmal vorbei! Vielleicht dürfen wir Dich schon bald in unserer Runde begrüßen.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 pt-3 d-flex align-items-stretch">
            <div class="card">
                {{- partial "responsive_image.html"  (dict "image" .instrumentalausbildung "title" "Instrumentalausbildung Abbildung" "class" "rounded-top img-fluid bg-image" "widths" (dict "lg" 50)) -}}
                <div class="card-body">
                    <h5 class="card-title">Instrumentalausbildung</h5>
                    <p class="card-text text-break blocksatz">
                        Unser Verein bietet eine umfassende <a href="instrumentalausbildung"
                            class="stretched-link text-dark">Instrumentalausbildung</a>, die es jedem ermöglicht, bei
                        uns einzusteigen.
                    </p>
                    <p class="card-text text-break blocksatz">
                        Schon im Kindesalter kann man mit dem Erlernen von Blechblasinstrumenten und den damit
                        verbundenen Grundlagen in Musiklehre und Notenbildung beginnen.
                        Wir legen großen Wert darauf, dass der Einstieg in unseren Verein mit viel Freude und Spaß
                        verbunden ist, um Ihnen den bestmöglichen Start in Ihr musikalisches Abenteuer zu ermöglichen.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pb-3">
        <div class="col-lg-6 pt-3 d-flex align-items-stretch">
            <div class="card">
                <img class="card-img-top" src="{{ .jugendorchester | relURL }}" alt="Jugendorchester Abbildung">
                {{- partial "card_top.html" (dict "images" .jugendorchester "title" "Jugendorchester" "widths" (dict "lg" 50 )) -}}
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="{{ site.Params.jugendlogo | relURL }}" class="" height="40" alt="Logo MVS Jugend">
                        Das Jugendorchester
                        <img src="{{ site.Params.maskottchen | relURL }}" class="" height="40" alt="Engelbert, Maskottchen des MVS Sailauf">
                    </h5>
                    <p class="card-text text-break blocksatz">
                        Aufbauend auf die Instrumentalausbildung können Kinder und Jugendliche Teil unserers
                        Schüler-/<a href="jugendorchester"
                        class="stretched-link text-dark">Jugendorchesters</a>
                        werden. Gemeinsam wird viel gelacht, musiziert und geprobt.Jeder, der neu in die
                        Gemeinschaft kommt, wird herzlich empfangen und wird sich sicherlich sofort wohlfühlen.
                        Geprobt wird <b>jeden Freitag</b> bei unserem Dirigenten
                        {{ with $data.data.vorstand }}
                        {{ .dirigent }}
                        {{ end }}
                        von <b>18:45 Uhr bis 19:45 Uhr</b>.
                    </p>
                </div>

            </div>
        </div>
        <div class="col-lg-6 pt-3 d-flex align-items-stretch">
            <div class="card">
                <img class="card-img-top" src="{{ .stammorchester | relURL }}" alt="Stammorchester Abbildung">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="{{site.Params.logo | relURL}}" class="rounded" height="40" alt="Logo MVS Sailauf">
                        Das Stammorchester</h5>

                    <p class="card-text text-break blocksatz">
                        In unserem Erwachsenenorchester, dem <a href="stammorchester"
                        class="stretched-link text-dark">Stammorchester</a>, steht das Musizieren ebenfalls an
                        erster Stelle. Wir möchten gemeinsam den Spaß an der Musik ausleben. Hier durchlaufen wir
                        mit unserem Dirigenten
                        {{ with $data.data.vorstand }}
                        {{ .dirigent }}
                        {{ end }}
                        verschiedene Stilrichtungen. Wir proben
                        <b>freitags von 20:00 Uhr bis 22:00 Uhr (Einspielen ab 19:45 Uhr)</b>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}
{{ end }}